
body {
	background-color: white;
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Work Sans";
	font-weight: 300;
	}
.container {
	background-color: #cae3e9;
	padding: 3rem;
	border-radius: 1rem;
	border: 3px #a8dbe7;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.form {
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 1rem;
	column-gap: 3rem;
	justify-content: center;
	align-items: center;
	border-color: 2px #3ebdb6;
}

.title {
	margin: 0;
	text-align: center;
	font-family: "Work Sans";
	font-weight: 500;
}

label {
	font-family: "Work Sans";
	font-weight: 300;
	border: 2px #3ebdb6;
}

h1 {
	font-family: "Work Sans";
	font-weight: 400;
}

h2 {
	font-family: "Work Sans";
	font-weight: 100;
}

.character-count-container {
	display: flex;
	align-items: center;
}
.number-input {
	width: 2rem;
	margin: .5rem;
	background-color: white;
	border: .5px solid #a8dbe7;
	border-radius: .5rem;
}

.show-password {
	background-color: white;
	color: #3ebdb6;
	padding: 1rem;
	border: 1px solid #cae3e9;
	height: 2rem;
	width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	word-break: break-all;
	border-radius: .5rem;
}
button.button {
	grid-column: span 2;
	background-color: #47d5cd;
	border: 3px #3ebdb6;
	padding: .5rem 1rem;
	font-family: "Work Sans";
	color: white;
	font-size: 20px;
	font-weight: 400;
	/* color: black; */
	/* Turn cursor into hand on hover */
	cursor: pointer;
	border-radius: .5rem;
}
/* Lighten button background on hover. */
.button:hover {
background-color: #9adad6;
}
/* Remove default styling on slider. */
input[type="range"] {
	-webkit-appearance: none;
   }
   
input[type="range"]:focus {
	outline: none;
   }
/* Add custom styling to slider. */
input[type="range"]::-webkit-slider-runnable-track {
	background: #47d5cd;
	height: 5px;
	outline: 3px solid #3ebdb6;
   }
   
   input[type="range"]::-moz-range-track {
	background: white;
	height: 5px;
	border: 2px #9adad6;
	box-shadow: 2px;
   }
   input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
	color: #47d5cd;
	margin-top: -5px;
	border-radius: 100%;
	border: 6px solid #3ebdb6;
	align-items: center;
}
   
   input[type="range"]::-moz-range-thumb {
	height: 15px;
	width: 15px;
	background-color: #47d5cd;
	margin-top: -5px;
	border-radius: .5rem;
   }
